html,
body {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #fff;
  /* background-color: #50cdff; */
}

h1 {
  color: red;
}

#game {
  /* width: 1000px;
  height: 625px; */
  margin: auto;
  /* background-color: #81c76d; */
  position: absolute;
  top: 50%;
  margin-top: -312px;
  left: 50%;
  margin-left: -500px;
  
}

#ui {
  /* width: 1146px; */
  /* height: 819px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
