@font-face {
  font-family: "8-bit-pusab-regular";
  src: url("../8-bit pusab.ttf") format("woff"),
    url("../8-bit pusab.ttf") format("truetype");
}

/* @import url("https://candyfonts.com/wp-data/2019/03/03/23957/8-bit pusab.ttf"); */

html,
body,
h1,
h3, p {
  margin: 0;
  font-family: "8-bit-pusab-regular", "Courier New", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #fff;
  /* background-color: #50cdff; */
}

#game {
  /* width: 1000px;
  height: 625px; */
  margin: auto;
  /* background-color: #81c76d; */
  position: absolute;
  top: 50%;
  margin-top: -312px;
  left: 50%;
  margin-left: -500px;
}

#ui {
  /* width: 1146px; */
  /* height: 819px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#modals {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}

#modal-container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* #modal {
  width: 50vw;
  height: 50vh;
  max-width: 60vw;
  max-height: 60vh;
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(2, 2);
  z-index: 101;
  padding: 2vw;
  text-align: center;
} */

#modal {
  width: 794px;
  height: 450px;
  /* max-width: 60vw; */
  /* max-height: 60vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: scale(2, 2); */
  z-index: 101;
  padding: 20px;
  text-align: center;
}

/* #modal.loadMap {
  width: 75vw;
} */

/* #modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1vw;
  width: 100%;
  height: 60%;
  border: 3px solid black;
  overflow-y: scroll;
  margin-right: 0;
} */

h1.modal-title {
  font-size: 30px;
  margin: 0px;
}

#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 17px;
  width: 737px;
  height: 265px;
  overflow-y: scroll;
  margin: 20px 0;
  margin-right: 0px;
  position: relative;
}

#modal-content.border {
  border: 3px solid black;
  background-color: lightgray;
}

#modal-button-container {
  width: 710px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button {
  display: inline-block;
  background-image: url("./spritesheet.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

#modal-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 737px;
  height: fit-content(100vw);
  min-height: 100%;
  position: absolute;
  top: 0;
  
}

#modal-options.columns {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 17px;
  justify-items: center;
  margin-bottom: 17px;
  margin-top: 17px;
}

.option-button {
  width: 710px;
  height: 89px;
  display: block;
  position: relative;
  cursor: pointer;
  background-color: white;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

.option-button.small {
  width: 355px;
}

.option-button input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.option-button-graphic {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.option-button.small .option-button-graphic {
  width: 100%;
  height: 100%;
  justify-content: left;
}

.option-button-graphic.selected {
  outline: 4px solid yellow;
}

.option-button-graphic:hover {
  background-color: yellow;
}

.option-button-label {
  margin-left: 1vw;
  flex-grow: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.map-icon {
  height: 75px;
  width: 75px;
  margin: 7px;
  background-image: url("./map-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
}

#level-start-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
